.info-card {
  box-shadow: 7px 11px 12px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 11px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 11px 12px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5em;
}